<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Application Name=QueryPatternExample" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
